
        @import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

        :root {
            --font-sans: 'Mona Sans', sans-serif;
            --font-size: 7rem;
            --font-weight: 700;
            --color-text: hsl(36, 100%, 50%);
        }

        body {
            height: 100svh;

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;
            gap: 1rem;

            background-color: #000000;
            font-family: var(--font-sans);
        }

        a {
            text-shadow: 0 2ex var(--color-text);

            font-size: var(--font-size);
            font-weight: var(--font-weight);

            line-height: 1;
            letter-spacing: -0.05em;

            text-decoration: none;
            text-transform: uppercase;

            color: var(--color-text);

            overflow: hidden;



            span {
                position: relative;
                display: inline-block;
            }

            &:not(:hover),
            &:not(:focus-visible) {
                span {
                    animation: slide-down 0.25s forwards;
                    animation-delay: calc(sibling-index() * 0.05s);
                }
            }


            &:hover,
            &:focus-visible {
                span {
                    animation: slide-up 0.25s forwards;
                    animation-delay: calc(sibling-index() * 0.05s);
                }
            }

            &:focus-visible {
                outline: 2px solid green;
                outline-offset: 2px;
            }
        }

        [data-slot="controllers"] {
            display: flex;
            align-items: center;
            gap: 1rem;
        }


        select {
            padding: 4px 8px;
            border-radius: 8px;
            background-color: hsl(0, 0%, 100%);

        }




        @keyframes slide-up {
            100% {
                translate: 0 -2ex;
            }
        }

        @keyframes slide-down {
            0% {
                translate: 0 -2ex;
            }
        }
